/* #region Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
:root {
  --main-color: #2196F3;
  --main-color-alt: #1787e0;
  --section-padding: 80px;
  --transition-duration: 0.3s;
  --section-background-color: #ECECEC;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* #endregion End Global Rules */
/* #region Start Components */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) { 
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) { 
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) { 
  .container {
    width: 1170px;
  }
}
.special-heading {
  width: fit-content;
  margin: 0 auto 60px;
  font-size: 30px;
  border: 2px solid black;
  padding: 10px 20px; 
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition-duration: var(--transition-duration);
  z-index: 2;
}
.special-heading:hover {
  transition-delay: 0.6s;
  color: white;
  border: 2px solid white;
}
.special-heading::after,
.special-heading::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  border-radius: 50%;
  animation-duration: 0.6s;
  z-index: -1;
}
.special-heading:hover::before {
  animation-name: go-left;
  animation-duration: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.special-heading:hover::after {
  animation-name: go-right;
  animation-duration: 0.6;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
.special-heading::before {
  left: -30px;
}
.special-heading::after {
  right: -30px;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0px;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.dots {
  background-image: url("../images/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
}
.dots-up {
  right: 0;
  top: 200px;
}
.dots-down {
  left: 0;
  bottom: 200px;
}
/* #endregion End Components */
/* #region Start Header */
header {
  background-color: white;
  box-shadow: 0 0 10px #ddd; 
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  font-weight: bold;
  font-size: 26px;
  color: var(--main-color);
  height: 73.56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header .container .logo {
    width: 100%;
    height: 50px;
  }
}
header .container .logo a {
  color: var(--main-color);
}
header .container .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  header .container .main-nav {
    margin: auto;
  }
}
header .container .main-nav > li > a {
  height: 73.53px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  color: black;
  position: relative;
  transition: var(--transition-duration);
  z-index: 0;
}
@media (max-width: 767px) {
  header .container .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}
header .container .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .container .main-nav > li > a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  transition: var(--transition-duration);
} 
header .container .main-nav > li > a:hover::after {
  width: 100%;
}
header .container .other {
  cursor: pointer;
}
header .container .other-links {
  visibility: hidden;
  z-index: 2;
  display: flex;
  opacity: 0;
  background-color: white;
  width: 100%;
  padding-bottom: 30px;
  border-top: 1px solid #dddddd;
  border-bottom: 3px solid var(--main-color);
  justify-content: space-around;
  position: absolute;
  right: 0;
  transition-duration: var(--transition-duration);
  bottom: -477px;
}
@media (max-width: 767px) {
  header .container .other-links {
    flex-direction: column;
  }
}
header .container .main-nav .other-links.show {
  visibility: visible;
  bottom: -377px;
  opacity: 1;
}
@media (max-width: 991px) {
header .container .main-nav .other-links.show {
  bottom: -349px;
  }
}
@media (max-width: 767px) {
header .container .main-nav .other-links.show {
  bottom: -581px;
  padding-bottom: 0;
  }
}
header .container .other-links .image img {
  margin-top: 30px;
}
@media (max-width: 991px) {
  header .container .other-links .image {
    display: none;
  }
}
header .container .other-links .links-on-hover {
  margin-top: 30px;
}
@media (max-width: 767px) {
  header .container .other-links .links-on-hover:not(:last-child){
    margin-top: 10px !important;
  }
  header .container .other-links .links-on-hover:last-child {
    margin-top: 0;
  }
}
header .container .other-links .links-on-hover li {
  margin-bottom: 14px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 10px 10px 10px;
}
@media (max-width: 767px) {
  header .container .other-links .links-on-hover:last-child li:last-child {
    border-bottom: none;
  }
}
header .container .other-links .links-on-hover li::before {
  content: "";
  width: 0%;
  height: 100%;
  background-color: #f9f9f9;
  position: absolute;
  left: 0;
  top: 0;
  transition-duration: var(--transition-duration);
  z-index: -1;
}
header .container .other-links .links-on-hover li:hover::before {
  width: 100%;
}
header .container .other-links .links-on-hover li i {
  margin-right: 20px;
  color: var(--main-color);  
}
header .container .other-links .links-on-hover li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-color);
  font-size: 19px;
  display: block;
}
/* #endregion End Header */
/* #region Start Landding */
.landding {
  height: calc(100vh - 73.53px);
  overflow: hidden;
  position: relative;
  gap: 10px;
}
.landding::before {
  content: "";
  position: absolute;
  left: 0;
  top: -150px;
  width: 100%;
  height: 100%;
  background-color: #efefef;
  z-index: -1;
  transform: skewY(-7deg);
}
.landding .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 50px;
}
@media (max-width: 991px) {
 .landding .container .text-box {
    text-align: center;
  } 
}
.landding .container .text-box h3 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
  width: 460px;
}
@media (max-width: 991px) {
  .landding .container .text-box h3 {
    width: 100% !important;
    font-size: 28px;
    letter-spacing: 0px;
  }
}
.landding .container .text-box p {
  color: #777;
  font-size: 25px;
  margin-bottom: 50px;
  line-height: 1.6;
} 
@media (max-width: 767px) {
  .landding .container .text-box p {
    font-size: 18px;
  }
}
.landding .container .image img {
  width: 600px;
  animation-name: up-down;
  animation-duration: 5s;
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: relative;
}
@media (max-width: 991px) {
  .landding .container .image {
    display: none;
  }
}
.landding .container .arrow {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  animation-name: go-down;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
.landding .container .arrow a i {
  color: var(--main-color);
}
/* #endregion End Landding */
/* #region Start Articles*/
.articles {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.articles .container .card-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 35px;
}
.articles .container .card-box .card {
  box-shadow: 0 0 10px #DDD;
  border-radius: 6px;
  overflow: hidden;
  transition-duration: var(--transition-duration);
}
.articles .container .card-box .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 10px 5px #DDD;
}
.articles .container .card-box .card .text-box {
  padding: 10px 20px;
}
.articles .container .card-box .card .text-box p {
  color: #777;
  line-height: 1.6;
} 
.articles .container .card-box .card .footer .text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 17px;
  border-top: 1px solid #e6e6e7;
}
.articles .container .card-box .card:hover .footer .text i {
  animation-name: move-arrow;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.articles .card .image img {
  width: 100%;
  max-width: 100%;
}
/* #endregion End Articles*/
/* #region Start Gallery */
.gallery {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.gallery .container .box {
  padding: 20px;
  background-color: white;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .container .box .image::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: rgba(255, 255, 255, 0.174);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery .container .box:hover .image::before {
  animation-name: flash;
  animation-duration: var(--transition-duration);
  animation-timing-function: linear;
  z-index: 3;
}
.gallery .container .box .image img {
  max-width: 100%;
  width: 100%;
  transition-duration: var(--transition-duration);
}
.gallery .container .box .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
/* #endregion End Gallery */
/* #region Start Features */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px;
}
.features .container .card {
  border: 1px solid #CCC;
  overflow: hidden;
}
.features .container .card .text {
  text-align: center;
  padding-top: 75px;
}
.features .container .card .image {
  position: relative;
  overflow: hidden;
}
.features .container .card .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.features .container .quality .image::before {
  background-color: rgb(244 64 54 / 50%);
}
.features .container .time .image::before {
  background-color: rgb(0 150 136 / 50%);
}
.features .container .passion .image::before {
  background-color: rgb(3 169 244 / 50%); 
}
.features .container .card .image::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  .features .container .card .image::after {
    border-width: 0px 0px 190px 700px;
  }
}
.features .container .card:hover .image::after {
  border-width: 170px 500px 170px 0px;
}
@media (max-width: 767px) {
  .features .container .card:hover .image::after {
    border-width: 190px 700px 190px 0px;
  }
}
.features .container .card .image img {
  width: 100%;
  max-width: 100%;
}
.features .container .card .text {
  position: relative;
}
.features .container .card .text h3 {
  margin: 25px auto 65px auto;
  width: fit-content;
  font-size: 40px;
  position: relative;
  z-index: 2;
}
.features .container .card .text h3::before {
  content: "";
  position: absolute;
  height: 5px;
  width: calc(100% - 30px);
  left: 15px;
  bottom: -20px;
}
.features .container .quality .text h3::before {
  background-color: rgb(244 64 54);
}
.features .container .time .text h3::before {
  background-color: rgb(0 150 136);
}
.features .container .passion .text h3::before {
  background-color: rgb(3 169 244);
}
.features .container .card .text p {
  line-height: 2;
  color: #777;
  font-size: 18px;
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  padding: 25px;
}
.features .container .card .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.features .container .card .footer .more {
  position: relative;
  padding: 10px 25px;
  border-radius: 6px;
  transition: var(--transition-duration);
}
.features .container .card .footer .more a {
  font-weight: bold;
  font-size: 20px;
}
.features .container .card:hover .footer .more a {
  color: white;
}
.features .container .card .footer .more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: var(--transition-duration);
  z-index: -1;
}
.features .container .quality .footer .more {
  border: 3px solid rgb(244 64 54);
}
.features .container .quality .footer .more a {
  color: rgb(244 64 54);
}
.features .container .time .footer .more a {
  color: rgb(0 150 136);
}
.features .container .passion .footer .more a {
  color: rgb(3 169 244); 
}
.features .container .quality:hover .footer .more::before {
  background-color: rgb(244 64 54);
  width: 100%;
}
.features .container .time .footer .more {
  border: 3px solid rgb(0 150 136);
}
.features .container .time:hover .footer .more::before {
  background-color: rgb(0 150 136);
  width: 100%;
}
.features .container .passion .footer .more {
  border: 3px solid rgb(3 169 244); 
}
.features .container .passion:hover .footer .more::before {
  background-color: rgb(3 169 244);
  width: 100%;
}
/* #endregion End Features */
/* #region Start Testimonials */
.testimonials {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.testimonials .container section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 85px;
}
.testimonials .container section .card {
  position: relative;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  -webkit-box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  -moz-box-shadow: 0px 2px 4px rgb(0 0 0 / 7%);
  border-radius: 6px;
  background-color: white;
  padding: 10px;
}
.testimonials .container section .card .text h3 {
  font-size: 19px;
  margin: 10px 0px 0px;
}
.testimonials .container section .card .text h4 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #777;
}
.testimonials .container section .card .text ul {
  display: flex;
  gap: 3px;
}
.testimonials .container section .card .text ul li i.filled {
  color: gold;
}
.testimonials .container section .card .text p {
  line-height: 1.5;
  color: #777;
  margin-bottom: 0px;
}
.testimonials .container .card .image {
  background-color: var(--section-background-color);
  overflow: hidden;
  padding: 10px;
  position: absolute;
  right: -10px;
  top: -50px;
  border-radius: 50%;
}
.testimonials .container .card .image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
/* #endregion End Testimonials */
/* #region Start Team Members */
.team-members {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 50px 60px; 
}
.team-members .container .card {
  position: relative;
}
.team-members .container .card::after,
.team-members .container .card::before {
  content: "";
  position: absolute;
  height: 100%;
  border-radius: 10px;
  right: 0;
  top: 0;
  transition-duration: var(--transition-duration);
}
.team-members .container .card::before {
  background-color: #f3f3f3;
  width: calc(100% - 60px);
  z-index: -2;
}
@media (max-width: 767px) {
  .team-members .container .card::before {
    width: 100%;
  }
}
.team-members .container .card::after {
  width: 0%;
  z-index: -1;
  background-color: #dddddd;
}
.team-members .container .card:hover::after {
  width: calc(100% - 60px);
}
@media (max-width: 767px) {
  .team-members .container .card:hover::after {
    width: 100%;
  }
}
.team-members .container .card .box {
  display: flex;
  align-items: center;
  padding-top: 60px;
} 
@media (max-width: 767px) {
  .team-members .container .card .box {
    justify-content: space-around;
  }
}

.team-members .container .card .box img {
  max-width: calc(100% - 60px);
  border-radius: 10px;
  transition-duration: var(--transition-duration);
}
.team-members .container .card:hover .box img {
  filter: grayscale(100%);
}
.team-members .card  .box ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.team-members .container .card .box ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 30px;
  color: #777;
} 
.team-members .container .card ul li a:hover {
  color: var(--main-color);
}
.team-members .container .card .text {
  padding-left: 80px;
}
@media (max-width: 767px) {
  .team-members .container .card .text {
    padding-left: 20px;
  }
}
.team-members .container .card .text h4 {
  font-size: 20px;
  color: var(--main-color);
  transition-duration: var(--transition-duration);
}
.team-members .container .card:hover .text h4 {
  color: #777;
}
.team-members .container .card .text p {
  color: #777;
}
/* #endregion End Team Members */
/* #region Start Services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  position: relative;
  counter-increment: services;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 15px 5px #DDD;
  -webkit-box-shadow: 0px 0px 15px 5px #DDD;
  -moz-box-shadow: 0px 0px 15px 5px #DDD;
  transition-duration: var(--transition-duration);
}
.services .container .box::before {
  content: "";
  left: 50%;
  top: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  position: absolute;
  transition-duration: var(--transition-duration);
}
.services .container .box:hover {
  transform: translateY(-10px);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box .head i {
  margin-top: 40px;
  color: #bfbfbf;
  margin-bottom: 15px;
}
.services .container .box .head h3 {
  font-size: 22px;
  color: var(--main-color);
}
.services .container .box .footer {
  position: relative;
  padding: 10px 20px;
  text-align: right;
  background-color: #f9f9f9;
}
.services .container .box .footer a {
  color: var(--main-color);
}
.services .container .box .footer::before {
  content: "0" counter(services);
  position: absolute;
  background-color: var(--main-color);
  color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 80px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
}
.services .container .box .footer::after {
  content: "";
  position: absolute;
  background-color: #d5d5d5;
  top: 0;
  left: 80px;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-30deg);
}
/* #endregion End Services */
/* #region Start Our Skills */
.our-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.our-skills .container {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .our-skills .container .image {
    display: none;
  }
}
.our-skills .container .progress {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.our-skills .container .progress .prog {
  position: relative;
  width: 100%;
}
.our-skills .container .progress .prog .text {
  font-size: 19px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-weight: bold;
}
.our-skills .container .progress .prog .line {
  position: relative;
}
.our-skills .container .progress .prog .sign {
  position: absolute;
  right: 0;
  top: 20px;
  border: 1px solid #d0d0d0;
  font-size: 11px;
  color: var(--main-color);
  font-weight: 900;
  padding: 5px 2px;
  border-radius: 5px;
}
.our-skills .container .progress .prog .line span {
  display: block;
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
  position: relative;
}
.our-skills .container .progress .prog .line::before {
  content: "";
  height: 30px;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: #EEE;
}
/* #endregion End Our Skills */
/* #region Start How It Works */
.how-it-works {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background-color);
}
.how-it-works .container {
  display: flex;
  gap: 100px;
  align-items: center;
}
@media (max-width: 991px) {
  .how-it-works .container .image{
    display: none;
  }
}
.how-it-works .container .main-box .box {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 10px 20px;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}
.how-it-works .container .main-box .box::before {
  content: "";
  height: 0%;
  width: 0%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #cccccc28;
  position: absolute;
  transition-duration: var(--transition-duration);
}
.how-it-works .container .main-box .box:hover::before {
  width: 100%;
  height: 100%;
}

.how-it-works .container .main-box .box .text-box h3 {
  font-size: 20px;
}
.how-it-works .container .main-box .box .text-box p {
  line-height: 1.6;
  color: #676767;
}
.how-it-works .container .main-box .box img {
  width: 75px;
  margin-right: 25px;
}
/* #endregion End How It Works */
/* #region Start Latest Events */
.latest-events {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.latest-events .container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 190px;
}
.latest-events .container .image img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .latest-events .container .image {
    display: none;
  }
}
.latest-events .container .box {
  text-align: center;
}
.latest-events .container .box .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}
.latest-events .container .box .time .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 0px;
  border: 1px solid #CCC;
  background-color: white;
  border-radius: 6px;
  transition-duration: var(--transition-duration);
}
.latest-events .container .box .time .card:hover {
  border-color: var(--main-color);
}
.latest-events .container .box .time .card span:first-of-type {
  font-size: 35px;
  padding: 15px;
  font-weight: bold;
  color: var(--main-color);
  transition-duration: var(--transition-duration);
}
.latest-events .container .box .time .card span:last-of-type {
  width: 100%;
  font-size: 13px;
  padding: 8px 10px;
  border-top: 1px solid #CCC;
  transition-duration: var(--transition-duration);
}
.latest-events .container .box .time .card:hover span {
  border-color: var(--main-color);
}
.latest-events .container .box .text-box h3 {
  margin: 0;
  font-size: 30px;
}
.latest-events .container .box .text-box p {
  line-height: 1.6;
  font-size: 20px;
  color: #777;
}
.latest-events form {
  display: flex;
  width: 600px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  padding: 30px;
  border-radius: 50px;
  bottom: 120px;
}
@media (max-width: 767px) {
  .latest-events form {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    width: 400px;
    bottom: 50px;
    max-width: 100%;
  }
}
.latest-events form input[type="email"] {
  width: 90%;
  margin-right: 30px;
  padding: 20px;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color-alt);
}
@media (max-width: 767px) {
  .latest-events form input[type="email"] {
    border-radius: 0;
    margin: 0px 0px 10px;
  }
}
.latest-events form input:focus {
  outline: none;
}
.latest-events form input[type="email"]::placeholder {
  transition-duration: var(--transition-duration);
  color: #777;
}
.latest-events form input[type="email"]:focus::placeholder {
  color: transparent;
}
.latest-events form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border-radius: 50px;
  font-weight: bold;
  border: none;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
@media (max-width: 767px) {
  .latest-events form input[type="submit"] {
    border-radius: 0;
    margin: 0px 0px 10px;
    width: calc(100% - 60px)
  }
}
.latest-events form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* #endregion End Latest Events */
/* #region Start Pricing Plans */
.pricing-plans {
  background-color: var(--section-background-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
}
.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 100px;
}
.pricing-plans .container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 20px 10px #DDD;
  -webkit-box-shadow: 0 0 20px 10px #DDD;
  -moz-box-shadow: 0 0 20px 10px #DDD;
  position: relative;
  padding-bottom: 30px;
}
.pricing-plans .container .box:nth-child(2) {
  transform: translateY(-25px);
}
@media (max-width: 1199px) {
  .pricing-plans .container .box:nth-child(2) {
    transform: translateY(0);
  }
}
.pricing-plans .container .box::after,
.pricing-plans .container .box::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 50%;
  background-color: #f7f6f6;
  transition-duration: var(--transition-duration);
}
.pricing-plans .container .box::before {
  top: 0;
  left: 0;
}
.pricing-plans .container .box::after {
  bottom: 0;
  right: 0;
}
.pricing-plans .container .box:hover::after,
.pricing-plans .container .box:hover::before {
  width: 100%;
}
.pricing-plans .container .box .plan {
  padding-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.pricing-plans .container .box .plan h3 {
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing-plans .container .box .plan .num  {
  font-size: 60px;
  font-weight: bold;
  position: relative;
  color: var(--main-color);
}
.pricing-plans .container .box .plan .num span {
  color: #777;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  width: 70px;
} 
.pricing-plans .container .box .plan .label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 5px 30px 10px 10px;
  font-size: 20px;
  transform: rotate(90deg);
  right: -50px;
  top: 65px;
}
.pricing-plans .container .box .plan .label::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 100%;
  right: -26px;
  top: 0;
  background-color: white;
  transform: rotate(45deg);
  transition-delay: 0.9s;
  transition: var(--transition-duration);
}
.pricing-plans .container .box:hover .plan .label::before {
  background-color: #f7f6f6;
}
.pricing-plans .container .box .plan img {
  width: 80px;
  margin-bottom: 30px;
}
.pricing-plans .container .box .features {
  width: 100%;
  padding-bottom: 0px;
  z-index: 1;
}
.pricing-plans .container .box .features ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pricing-plans .container .box .features ul li {
  padding: 20px;
  border-top: 1px solid #eee;
}
.pricing-plans .container .box .features ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  color: var(--main-color);
}
.pricing-plans .container .box .choose-plan {
  padding: 30px;
  z-index: 1;
}
.pricing-plans .container .box .choose-plan a {
  color: var(--main-color);
  font-weight: bold;
  border: 2px solid var(--main-color-alt);
  padding: 14px;
  border-radius: 6px;
  position: relative;
  transition-duration: var(--transition-duration);
}
.pricing-plans .container .box .choose-plan a:hover {
  color: white;
  background-color: var(--main-color-alt);
  border-color: var(--main-color-alt);
}
/* #endregion End Pricing Plans */
/* #region Start Top Videos */
.top-videos {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.top-videos .container {
  display: flex;
  border: 1px solid #DDD;
  padding: 0;
}
@media (max-width: 1199px) {
  .top-videos .container {
    flex-direction: column;
  }
}
.top-videos .container .list {
  min-width: 300px;
  border: 1px solid var(--section-background-color);
}
.top-videos .container .list .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEE;
  padding: 0px 20px;}
.top-videos .container .list .head i {
  font-weight: bold;
}
.top-videos .container .list ul li {
  padding: 20px;
  width: 100%;
  border-top: 1px solid var(--section-background-color);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
.top-videos .container .list ul li:hover {
  background-color: #fbfbfb;
}
.top-videos .container .list ul li h4 {
  transition-duration: var(--transition-duration);
  font-weight: normal;
  margin: 0px 0px 10px;
}
.top-videos .container .list ul li:hover h4 {
  color: var(--main-color);
}
.top-videos .container .list ul li .video-long {
  color: #777;
}
.top-videos .container .box {
  padding: 10px;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-videos .container .box .text-box {
  width: 100%;
  background-color: white;
  padding: 0px 20px;
  margin-top: 20px;
}
.top-videos .container .box .image img {
  max-width: 100%;
}
/* #endregion End Top Videos */
/* #region Start Stats */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/stats.jpg");
  background-size: cover;
  position: relative;
}
.stats::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  left: 0;
  top: 0;
}
.stats h1 {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  font-size: 40px;
  margin-bottom: 40px;;
}
.stats .container .box {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-direction: column;
    align-items: center;
  }
}
.stats .container .box .card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background-color: white;
  padding: 20px 90px;
  position: relative;
  margin-bottom: 30px;
  opacity: 0.8;
  transition-duration: var(--transition-duration);
}
@media (max-width: 767px) {
  .stats .container .box .card {
    width: 100%;
  }
}
.stats .container .box .card:hover {
  opacity: 1;
}
.stats .container .box .card::after,
.stats .container .box .card::before {
  content: "";
  width: 2px;
  height: 0px;
  position: absolute;
  transition-duration: 1s;
  background-color: var(--main-color);
}
.stats .container .box .card::before {
  right: 0;
  top: 0;
}
.stats .container .box .card::after {
  bottom: 0;
  left: 0;
}
.stats .container .box .card:hover::before,
.stats .container .box .card:hover::after {
  height: 100%;
} 
.stats .container .box .card .number {
  font-size: 50px;
  font-weight: bold;
}
.stats .container .box .card .number-of {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: var(--main-color);
}
/* #endregion End Stats */
/* #region Start Discount */
.discount {
  display: flex;
  height: 100vh;
}
@media (max-width: 991px) {
  .discount {
    flex-direction: column;
    height: 100%;
  }
}
.discount .details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 100px;
  position: relative;
  width: 50%;
  text-align: center;
  background-size: cover;
  animation-name: change-background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 2;
}
@media (max-width: 991px) {
  .discount .details {
    width: 100%;
  }
}
.discount .details::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #2195f3f6;
  z-index: -1;
}
.discount .details .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount .details .text-box h2 {
  font-size: 40px;
  letter-spacing: -2px;
  color: white;
}
.discount .details .text-box p {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  color: white;
}
.discount .details .image img {
  width: 300px;
  padding-bottom: 100px;
}
.discount form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .discount form {
    width: 100%;
  }
}
.discount form h3 {
  font-size: 35px;
  letter-spacing: -2px;
}
.discount form input {
  width: 300px;
  padding: 15px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  background-color: #f7f7f7;
  color: #777;
  caret-color: var(--main-color);
}
.discount form input:focus {
  outline: none;
}
.discount form input[name="details"] {
  padding-bottom: 150px;
}
.discount form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  transition-duration: var(--transition-duration);
  cursor: pointer;
  font-size: 20px;
}
.discount form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
/* #endregion End Discount */
/* #region Start Footer */
footer {
  padding-top: var(--section-padding);
  padding-bottom: 30px;
  background-color: #191919;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding-bottom: 30px;
}
footer .container .box h1 {
  margin: 0px 0px 20px;
  font-size: 50px;
  font-size: 50px;
  color: white;
}
footer .container .box .social {
  display: flex;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  footer .container .box .social {
    justify-content: center;
  }
}
footer .container .box .social li {
  margin-right: 10px;
}
footer .container .box .social li a {
  width: 50px;
  height: 50px;
  background-color: #313131;
  color: #b9b9b9;
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-duration: var(--transition-duration);
}
footer .container .box .social li:hover a.facebook {
  background-color: rgb(59, 83, 218);
}
footer .container .box .social li:hover a.twitter {
  background-color: rgb(33, 115, 255);
}
footer .container .box .social li:hover a.youtube {
  background-color: rgb(184, 0, 34);
}
footer .container .box p {
  color: #bababa;
  line-height: 2;
}
footer .container .box .links li {
  margin-bottom: 10px;
  padding: 5px 10px 15px;
  border-bottom: 1px solid #3b3b3b;
  transition-duration: var(--transition-duration);
}
footer .container .box .links li:hover {
  padding-left: 20px;
}
footer .container .box .links li:last-of-type {
  border-bottom: none;
}
footer .container .box .links li a {
  color: #bababa;
  transition-duration: var(--transition-duration);
}
footer .container .box .links li:hover a {
  color: white;
}
footer .container .box .links li a::before  {
  content: "\F101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--main-color);
  margin-right: 10px;
}
footer .container .box .line {
  display: flex;
  align-items: center;
  color: #bababa;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .container .box .line {
    flex-direction: column;
  }
}
footer .container .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .container .box .line i {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}
footer .container .box .info {
  line-height: 1.7;
  flex: 1;
}
footer .container .box .info span {
  display: block;
}
footer .container .gallery-box ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
footer .container .gallery-box img {
  width: 70px;
  border: 3px solid white;
}
footer .foot {
  padding-top: 30px;
  text-align: center;
  color: white;
  border-top: 1px solid #4c4c4c;
}
/* #endregion End Footer */
/* #region Start Animation */
@keyframes change-background {
  0% {
    background-image: url("../images/discount-background1.jpg");
  }
  50% {
    background-image: url("../images/discount-background2.jpg");
  }
  100% {
    background-image: url("../images/discount-background1.jpg");
  }
}
@keyframes flash {
  100% {
    width: 200%;
    height: 200%;
  }
}
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes go-left {
  50% {
    left: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    border-radius: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes go-right {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    border-radius: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes go-down {
  0% {
    bottom: 35px;
  }
  12.5% {
    bottom: 45px;
  }
  25% {
    bottom: 35px;
  }
  37.5% {
    bottom: 45px;
  }
  50% {
    bottom: 35px;
  }
  100% {
    bottom: 35px;
  }
}
@keyframes up-down {
  0% {
    top: 0;
  }
  50% {
    top: -50px;
  }
  100% {
    top: 0;
  }
}
/* #endregion End Animation */